### Importing Necessary Libraries

In [1]:
import pandas as pd
import os

###  Task 1 : Merging 12 month of Sales Data into a single file

In [5]:
files = [file for file in os.listdir('./sales')]
all_month_data = pd.DataFrame()
for file in files:
    df = pd.read_csv('./sales/'+file)
    all_month_data = pd.concat([all_month_data,df])

In [18]:
all_month_data.to_csv('all_month_data.csv',index=False)

In [20]:
all_data = pd.read_csv('all_month_data.csv')
all_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

# Clean Up The Data

### Drop Rows of NaN

In [38]:
nan_data = df[df.isna().any(axis = 1)]
nan_data.value_count()

AttributeError: 'DataFrame' object has no attribute 'value_count'

## Augment Data with additional Columns

###  Task 2: Add Month Column

In [26]:
all_data['month'] = all_data['Order Date'].str[0:2]
# all_data['month'] = all_data['Order Date'].astype('int32')

ValueError: invalid literal for int() with base 10: '04/19/19 08:46'